<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.8.21/Tone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/1.2.6/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/nexusui@2.0.13/dist/NexusUI.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.18.1"></script>

    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.19.0/es6/music_rnn.js"></script> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.js"></script>
    
    <!-- Tone Library recommended in Bitrate slack channel for music conversations-->
    <script src="https://cdn.jsdelivr.net/npm/@tonaljs/tonal/browser/tonal.min.js"></script>
    <title>Hello!</title>

    <!-- Materialize UI CSS and JS file-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--Import Google Fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
        
            
    <!-- import the webpage's stylesheet -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    
    <!-- import the webpage's javascript file -->
    <script src="{{ url_for('static',filename='js/sequencer.js') }}" defer></script>
    <script src="{{ url_for('static',filename='js/script.js') }}" defer></script>


</head>

<body>
    <nav>
        <div style="padding-bottom: 20px;" class="nav-wrapper indigo lighten-3">
            <a href="{{ url_for('index') }}"> <img  src="{{ url_for('static',filename='imgs/maestro2.png') }}"  class="brand-logo"></img></a> 
            <ul id="nav-mobile" class="right hide-on-med-and-down"> 
            <li><a href="./">Sign In</a></li>
            </ul>
        </div>
    </nav>
    <h2></h2>
    
    <div class="container">
        <a class="back col s12" href="{{ url_for('lessons') }}"><i class="material-icons" style="vertical-align: top">keyboard_arrow_left</i>Back to Lessons</a>
        
        <h4 style="font-family: 'Nanum Myeongjo', serif;">Lesson 1 </h4>
    

        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab col s3"><a class="active" href="#test1">Practice I</a></li>
                    <li class="tab col s3"><a href="#test2">Video: Breathing</a></li>
                    <li class="tab col s3 disabled"><a href="#test3">Video: C-ing the note</a></li>
                    <li class="tab col s3"><a href="#test4">Practice II</a></li>
                    <li class="tab col s3 disabled"><a href="#test5">Practice III</a></li>
                </ul>
            </div>
            
            <div id="test1" class="col s12">
                Practice (Insert sequencer here with aiming to hit sequence- C D E D C)
                <button id="stop" style="display:none">Stop</button>
                <button id="practice">Start Practice</button>

                <p id='status'>Loading Model...</p>
                
                <p>Current Note: <span id="test1-currentNote"></span> </p>
                <p>Current Score: <span id="test1-score"></span> </p>
                <div class="main-container" id="main-container">
                    <div class="note-container" id="note-container"></div>
                    <div class="sequencer" id="sequencer"></div>
                </div>
                <h1></h1>
                <a href="#test2" id="tabs-button" class="waves-effect waves-light btn-flat btn-large indigo lighten-5">Go to Lesson</a>
            </div>
            
            <div id="test2" class="col s12">
                Video 1
                <h1></h1>
                
                <a href="#test1" id="tabs-button" class="waves-effect waves-light btn-flat btn-large indigo lighten-5">Go Back</a>
            </div>
            <div id="test3" class="col s12"></div>
            <div id="test4" class="col s12">
                <button id="stop-2" style="display:none">Stop</button>
                <button id="practice-2">Start Practice</button>

                <p id='status'>Loading Model...</p>
                
                <p>Current Note: <span id="test4-currentNote"></span> </p>
                <p>Current Score: <span id="test4-score"></span> </p>
                <div class="main-container" id="main-container-2">
                    <div class="note-container" id="note-container-2"></div>
                    <div class="sequencer" id="sequencer-2"></div>
                </div>
            </div>
            <div id="test5" class="col s12">Test 5</div>
        </div>
    </div>

</body>
