<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.8.21/Tone.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/nexusui@2.0.13/dist/NexusUI.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/1.2.6/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.18.1"></script>

    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.19.0/es6/music_rnn.js"></script> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.js"></script>
    
    <!-- Tone Library recommended in Bitrate slack channel for music conversations-->
    <script src="https://cdn.jsdelivr.net/npm/@tonaljs/tonal/browser/tonal.min.js"></script>
    <title>Hello!</title>

    <!-- Materialize UI CSS and JS file-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
        
            
    <!-- import the webpage's stylesheet -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    
    <!-- import the webpage's javascript file -->
    <script src="{{ url_for('static',filename='js/formatting.js') }}" defer></script>

</head>
<script>
    function lesson_1_score(){
        var score1 = parseInt(localStorage.getItem('#test1-score')) || 0 
        var score2 = parseInt(localStorage.getItem('#test4-score')) || 0
        return score1 + score2;
    }
    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById("lesson1-score").textContent = `${lesson_1_score()}/10`
    });
</script>

<body>
    <nav>
        <div class="nav-wrapper indigo lighten-3">
        <a href="{{ url_for('index') }}"> <img  src="{{ url_for('static',filename='imgs/maestro2.png') }}"  class="brand-logo"></img></a> 
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="./">Sign In</a></li>
        </ul>
        </div>
    </nav>
    
    <div class="container">
        
        <h3 style="font-family: 'Nanum Myeongjo', serif;"> Lessons </h3>
        
        <ul class="collapsible collection with-header">
            <li style="font-family: 'Nanum Myeongjo', sans-serif;" class="collection-header">
                <h4>Beginner
                    <a href="{{ url_for('lesson_1') }}" style="float:right;font-family:'Roboto',sans-serif;" class="btn waves-effect btn-flat waves-light indigo lighten-5" name="action">Start Singing
                        <i class="material-icons right">music_note</i>
                    </a>
                </h4>
                <p>Learn the basic scales and create a good foundation for your vocal skills.</p>
            </li>
            <li>
                <div class="collection-item collapsible-header"><i class="locked material-icons">expand_more</i>Lesson 1</div>
                <div class="collapsible-body"><span>
                    Begin with mastering the C D E notes. 
                    These are the first three notes that any vocalist learns. <br>
                    In any context, humming the C D E notes will form a basis for other notes.
                    <!-- <span id="lesson1-score" class="score-beg" style="font-family:'Nanum Myeongjo',sans-serif;float:right;color:lightslategray;font-size:20;">0/6</span> -->
                    <span id="lesson1-score" class="new badge" data-badge-caption=""></span>
                </span></div>
            </li>
            
            <li> <div class="collection-item collapsible-header" style="color:lightgrey;"><i class="locked material-icons">lock_outline</i>Lesson 2</div>
                <div class="collapsible-body"></div></li>
            <li> <div class="collection-item collapsible-header" style="color:lightgrey;"><i class="locked material-icons">lock_outline</i>Lesson 3</div>
                <div class="collapsible-body"><span>Blah Blah 3</div></li>
            <li> <div class="collection-item collapsible-header" style="color:lightgrey;"><i class="locked material-icons">lock_outline</i>Practice and Revision</div>
                <div class="collapsible-body"><span>Blah Blah 5</div></li>
            <li> <div class="collection-item collapsible-header" style="color:lightgrey;"><i class="locked material-icons">star_border</i>Test
                <a href="{{ url_for('test_1') }}" style="font-family:'Roboto',sans-serif;" class="btn waves-effect btn-flat waves-light indigo lighten-5 test-button col s1" name="action">Take Test
                    </a>
            
            </div>
                <div class="collapsible-body"><span></div></li>
        </ul>
                    
        <!-- <div class="row">
            <a class="start-button waves-effect waves-light btn-flat btn-large indigo lighten-5" id="generate-melody">Generate Melody</a>
            <a class="start-button waves-effect waves-light btn-flat btn-large indigo lighten-5" id="detect-pitch">Detect my Pitch!</a>
        </div>
        
        <p id='status'>Loading Model...</p>
        
        <p>Current Note: <span id="currentNote"></span> </p> -->
    </div>
</body>
